@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body {
    background: #141414;
    color: #fff;
}

* {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: 1px;
}

.logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #1b63f3;
}

.sub-logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}